@tailwind base;
@tailwind components;
@tailwind utilities;


/* --text: 109 104 117; */
@layer base {
	:root {
		--text: 10 10 10;
		--background: 255 250 245;
		--primary: 181 131 141;
		--secondary: 175 205 182;
		--accent: 244 175 105;
	}

	.dark {
		--text: 242 234 246;
		--background: 21 11 25;
		--primary: 196 161 215;
		--secondary: 112 48 87;
		--accent: 186 94 133;
	}
}

@layer base {
	body {
		@apply bg-background text-foreground;
	}
}
