button {
	all: unset;
}

button {
	position: relative;
	padding: 0.6em 4em;
	border: 2px solid #e5c431;
	overflow: hidden;
	font-size: 1rem;
	flex-shrink: 0;
	font-weight: 600;
	cursor: pointer;
	text-wrap: nowrap;
}

button:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	background-color: #e5c431;
	height: 100%;
	width: 100%;
	z-index: -1;
	transform-origin: bottom left;
	transform: rotate(-90deg);
	transition: transform 1s;
}

button:hover {
	transition-property: box-shadow, color;
	transition-duration: 0.4s;
	transition-delay: 0.6s;
	animation-timing-function: ease-in-out;
	box-shadow: 0 0 60px rgb(251, 222, 58);
	color: #af4000;
}

button:hover:before {
	transform: rotate(0deg);
}
