---
import "@styles/globals.css";

import BaseLayout from "@layout/BaseLayout.astro";

const data = await Astro.glob("../animations/*/Home.astro");
---

<BaseLayout>
  <div class="grid grid-cols-4 gap-4">
    {
      data.map((i, index) => {
        const Content = i.default;
        return (
          <a href={`/posts/${index}`}>
            <Content />
          </a>
        );
      })
    }
  </div>
</BaseLayout>
