---
import "@styles/globals.css";

import BaseLayout from "@layout/BaseLayout.astro";

const data = await Astro.glob("../animations/*/Home.astro");

const baseUrl = import.meta.env.BASE_URL;
---

<BaseLayout>
  <div class="grid grid-cols-4 gap-4">
    {
      data.map((i, index) => {
        const Content = i.default;
        return (
          <a href={`${baseUrl}/posts/${index}`}>
            <Content />
          </a>
        );
      })
    }
  </div>
</BaseLayout>
