---
type Props = {
  html: string;
  css: string;
};

const { html, css } = Astro.props;
---

<div
  class="p-10 flex flex-col w-full h-full bg-white/30 rounded-xl backdrop-blur leading-10"
>
  <div id="shadow-host"></div>
</div>

<script is:inline define:vars={{ html, css }}>
  document.addEventListener("DOMContentLoaded", () => {
    const host = document.getElementById("shadow-host");
    if (!host) return;
    const shadowRoot = host.attachShadow({ mode: "open" });

    // Create a style element for the CSS
    const style = document.createElement("style");
    style.textContent = css;

    // Create a div for the HTML content
    const div = document.createElement("div");
    div.innerHTML = html;

    // Append the style and div to the shadow root
    shadowRoot.appendChild(style);
    shadowRoot.appendChild(div);
  });
</script>
