---
type Props = {
  html: string;
  css: string;
  js?: string;
};

const { html, css, js } = Astro.props;

const uuid = crypto.randomUUID();
---

<div
  class="flex h-[60dvh] w-full flex-col rounded-xl py-20 leading-10 backdrop-blur"
>
  <div
    id={uuid}
    class="relative z-[1] flex h-full w-full items-center justify-center"
  >
  </div>
</div>

<script define:vars={{ html, css, js, uuid }}>
  document.addEventListener("astro:page-load", () => {
    const host = document.getElementById(uuid);
    if (!host) return;
    const shadowRoot = host.attachShadow({ mode: "open" });

    // Create a style element for the CSS
    const style = document.createElement("style");
    style.textContent = css;

    // Create a div for the HTML content
    const div = document.createElement("div");
    div.innerHTML = html;

    // Create a script for the HTML content

    const script = document.createElement("script");
    if (js) {
      script.innerHTML = js;
    }

    // Append the style and div to the shadow root
    shadowRoot.appendChild(style);
    shadowRoot.appendChild(div);
    shadowRoot.appendChild(script);
  });
</script>
