---
type Props = {
  title: string;
};

const { title } = Astro.props;
---

<h2
  class:list={[
    ["relative ml-2 w-fit text-3xl"],
    [
      "before:absolute before:bottom-0 before:left-[-0.1em] before:z-[-1] before:h-[12px] before:w-full before:bg-accent/60 before:content-['']",
    ],
  ]}
>
  {title}
</h2>
